* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.26rem;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 1rem;
    display: flex;
    box-sizing: border-box;
    padding: 0 0.22rem;
    p {
        font-size: 0.36rem;
        padding: 0 0.22rem;
        line-height: 1rem;
        img {
            width: 0.37rem;
            height: 0.33rem;
        }
    }
    .active {
        border-bottom: solid 2px #ed792f;
        color: #ed792f;
    }
}

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    .scroll {
        width: 100%;
        height: auto;
    }
}

.search {
    width: 100%;
    height: 1rem;
    box-sizing: border-box;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    input {
        width: 4.7rem;
        height: 0.6rem;
        background: #edeeef;
        border: none;
        border-radius: 5px;
        text-align: center;
    }
    img {
        width: 0.5rem;
        height: auto;
        padding-left: 0.2rem;
        line-height: 1rem;
    }
}

.banner {
    width: 100%;
    height: auto;
    padding-bottom: 0.4rem;
    border-bottom: solid 1px #ddd;
    ul {
        width: 100%;
        height: auto;
        li {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    h2 {
        flex-shrink: 0;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        box-sizing: border-box;
        padding: 0 0.26rem;
        font-size: 0.28rem;
    }
    dl {
        width: 49%;
        height: auto;
        dt {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        dd {
            width: 100%;
            height: auto;
            text-indent: 0.27rem;
            h3 {
                width: 100%;
                height: 0.6rem;
                line-height: 0.6rem;
                font-size: 0.3rem;
            }
            p {
                color: #666;
            }
        }
    }
}

footer {
    width: 100%;
    height: 1rem;
    display: flex;
    p {
        flex: 1;
        height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 0.5rem;
            height: auto;
            display: block;
        }
    }
}